<div class="container-fluid" style="margin-top: 80px">
	<div class="row">
		<div class="col-6 offset-3 text-center quote1">
			<h2>COME WITH SMILE</h2>
			<p class="quote-text">The key is when a customer walks away, thinking ‘Wow, I love doing business with them, and I want to tell others about the experience</p>
		</div>
	</div>
</div>

<div class="container-fluid" style="margin-top: 10px">
	<div class="row">
		<div class="col-4 offset-4">
			<div class="line" style="height: 3px; background-color: rgb(228, 228, 228)"></div>
		</div>
	</div>
</div>

<!-- ******************************************************************************
  ************************* DESCRIPTION ICONS WITH TEXT ****************************
  ******************************************************************************* -->

<div class="container" style="margin-top: 80px" data-aos="zoom-out-up">
	<div class="row justify-content-center">
		<div class="col-6 col-lg-3 col-sm-6 text-center icon1">
			<span><i class="fa fa-magic"></i></span>
			<h4 class="pt-3">Best Artworks</h4>
			<p class="icon-text pl-3 pr-3 pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>

		<div class="col-6 col-lg-3 col-sm-6 text-center icon1">
			<span><i class="fa fa-star"></i></span>
			<h4 class="pt-3">Quick response</h4>
			<p class="icon-text pl-3 pr-3 pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>

		<div class="col-6 col-lg-3 col-sm-6 text-center icon1">
			<span><i class="fa fa-user"></i></span>
			<h4 class="pt-3">Ranked Artists</h4>
			<p class="icon-text pl-3 pr-3 pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>

		<div class="col-6 col-lg-3 col-sm-6 text-center icon1">
			<span><i class="fa fa-angellist"></i></span>
			<h4 class="pt-3">QUALITY SERVICE</h4>
			<p class="icon-text pl-3 pr-3 pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>
	</div>
</div>

<!-- **************************************************************
  *************************** SLIDER ****************************
  ************************************************************** -->

<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top: 80px">
	<!--Indicators-->
	<!-- <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
          <li data-target="#carousel-example-1z" data-slide-to="3"></li>
          
        </ol> -->
	<!--/.Indicators-->
	<!--Slides-->
	<div class="carousel-inner" role="listbox" style="text-transform: uppercase; letter-spacing: 2px; word-spacing: 8px">
		<!--First slide-->
		<div class="carousel-item active">
			<img class="d-block w-100 lazy" src="/images/slide0.1.jpg" alt="First slide" loading="lazy" />
			<!-- <div class="carousel-caption">
              <h4 style="letter-spacing:5px;"><b> Artenvie </b></h4>
                <h2 class="h2-responsive"> Online Art Gallery </h2>
              </div> -->
		</div>
		<!--/First slide-->
		<!--Second slide-->
		<div class="carousel-item">
			<img class="d-block w-100 lazy" src="/images/slide2.jpg" alt="Second slide" loading="lazy" />
			<!-- <div class="carousel-caption">
              <h4 style="letter-spacing:5px;"><b> KRYPTON </b></h4>
                <h2 class="h2-responsive"> Samsung Smartphones </h2>
              </div> -->
		</div>
		<!--/Second slide-->
		<!--Third slide-->
		<div class="carousel-item">
			<img class="d-block w-100 lazy" src="/images/slide1.jpg" alt="Third slide" loading="lazy" />
			<!-- <div class="carousel-caption">
              <h4 style="letter-spacing:5px;"><b> KRYPTON </b></h4>
                <h2 class="h2-responsive"> Iphone Smartphones </h2>
                
              </div> -->
		</div>
		<!--/Third slide-->
		<!--Forth slide-->
		<div class="carousel-item">
			<img class="d-block w-100 lazy" src="/images/pattern2.jpg" alt="Third slide" loading="lazy" />
			<!-- <div class="carousel-caption">
              <h4 style="letter-spacing:5px;"><b> KRYPTON </b></h4>
                <h2 class="h2-responsive"> HTC Smartphones </h2>
                
              </div> -->
		</div>
		<!--/Fifth slide-->
		<div class="carousel-item">
			<img class="d-block w-100 lazy" src="/images/slide4.jpg" alt="Third slide" loading="lazy" />
			<!-- <div class="carousel-caption">
                <h4 style="letter-spacing:5px;"><b> KRYPTON </b></h4>
                  <h2 class="h2-responsive"> HTC Smartphones </h2>
                  
                </div> -->
		</div>
		<!--/Fifth slide-->
	</div>
	<!--/.Slides-->
	<!-- Controls-->
	<!-- <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
	<!--/.Controls -->
</div>
<!--/.Carousel Wrapper-->

<!-- **************************************************************
  ************************* QUOTE 2 ****************************
  ************************************************************** -->

<% if (artworks.length > 0) { %>
<div class="container-fluid" style="margin-top: 80px">
	<div class="row">
		<div class="col-6 offset-3 text-center quote1" id="ra">
			<h2>MOST RECENT ARTWORKS</h2>
			<p class="quote-text">Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen.</p>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-top: 10px">
	<div class="row">
		<div class="col-4 offset-4">
			<div class="line" style="height: 3px; background-color: rgb(228, 228, 228)"></div>
		</div>
	</div>
</div>
<% } %>

<!-- **************************************************************
  ******************** POPULAR ARTWORKS *************************
  ************************************************************** -->

<div class="container" style="margin-top: 80px">
	<div class="row justify-content-center">
		<% artworks.forEach(artwork => { %>
		<div class="col-md-6 col-lg-4 p-4">
			<div class="card shadow" style="width: auto">
				<div class="inner">
					<a href="/home/productpage/<%= artwork.slug %>">
						<img class="card-img-top lazy" src="/uploads/<%= artwork.file[0] %>" alt="Card image cap" />
					</a>
				</div>
				<div class="card-body">
					<h4 class="card-title"><%= artwork.title %></h4>
					<div class="buying-format">
						<p>Buying Format: <%= artwork.buyingFormat %></p>
					</div>
					<div class="artwork-category">
						<p>Category: <%= artwork.category %></p>
					</div>
					<div class="artist-name">
						<p><%= artwork.artist %></p>
					</div>
					<a href="/home/productpage/<%= artwork.slug %>" class="btn btn-primary">View More</a>
					<h5 class="mt-2 float-right">$<%= artwork.price %></h5>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</div>

<!-- **************************************************************
  ************************* Description  ****************************
  ************************************************************** -->

<div class="container-fluid more-feature-area" style="margin-top: 80px">
	<div class="row justify-content-center">
		<!-- <div class="col-md-6 col-lg-3 text-center p-3">
			<div class="inner-artist">
				<img
					class="img-fluid w-50 rounded-circle"
					src="../images/artist1.jpg"
					alt="Card image cap"
				/>
			</div>
			<div class="artist-body">
				<h4 class="artist-title mt-3">Matthew Vasquez</h4>
				<div class="artist-format">
					<p>Painter</p>
				</div>
				<a href="#" class="btn btn-primary ">View Profile</a>
			</div>
		</div>

		<div class="col-md-6 col-lg-3 text-center p-3">
			<div class="inner-artist">
				<img
					class="img-fluid w-50 rounded-circle"
					src="../images/artist2.jpg"
					alt="Card image cap"
				/>
			</div>
			<div class="artist-body">
				<h4 class="artist-title mt-3">Ella Rice</h4>
				<div class="artist-format">
					<p>Designer</p>
				</div>
				<a href="#" class="btn btn-primary ">View Profile</a>
			</div>
		</div>

		<div class="col-md-6 col-lg-3 text-center p-3">
			<div class="inner-artist">
				<img
					class="img-fluid w-50 rounded-circle"
					src="../images/artist3.jpg"
					alt="Card image cap"
				/>
			</div>
			<div class="artist-body">
				<h4 class="artist-title mt-3">Mitchell Montgomery</h4>
				<div class="artist-format">
					<p>Photographer</p>
				</div>
				<a href="#" class="btn btn-primary ">View Profile</a>
			</div>
		</div> -->

		<div class="col-sm-12 col-md-6">
			<img src="/images/feature-mockup2.png" alt="" class="img-responsive lazy" data-aos="zoom-in-right" />
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="feature-list" data-aos="zoom-in-left">
				<ul>
					<li>
						<div class="feature-iconn">
							<i class="fa fa-diamond"></i>
						</div>
						<div class="feature-details">
							<h3>CREATVE DESIGNS</h3>
							<p>
								Creativity is a habit, and the best creativity<br />
								is the result of good work habits.
							</p>
						</div>
					</li>

					<li>
						<div class="feature-iconn">
							<i class="fa fa-handshake-o"></i>
						</div>
						<div class="feature-details">
							<h3>PRODUCT GUARANTEE</h3>
							<p>
								We are giving complete gaurentee of our products<br />
								and you will never be disappointed.
							</p>
						</div>
					</li>

					<li>
						<div class="feature-iconn">
							<i class="fa fa-comments"></i>
						</div>
						<div class="feature-details">
							<h3>FRIENDLY CONVERSATION</h3>
							<p>
								Honest conversation is built on truth and integrity<br />
								and upon respect of the one for the other.
							</p>
						</div>
					</li>

					<li>
						<div class="feature-iconn">
							<i class="fa fa-money"></i>
						</div>
						<div class="feature-details">
							<h3>AFFORDABLE PRICES</h3>
							<p>
								We have all your desired products with most <br />
								affordable prices and quality.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="testimonials" style="margin-top: 80px">
	<!-- **************************************************************
  ************************* QUOTE 4 ****************************
  ************************************************************** -->
	<div class="container-fluid">
		<div class="row" style="margin-top: 60px">
			<div class="col-6 offset-3 text-center quote1">
				<h2>CUSTOMER TESTIMONIALS</h2>
				<p class="quote-text text-white" style="font-weight: 300 !important">We see our customers as invited guests to a party, and we are the hosts</p>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="margin-top: 10px">
		<div class="row">
			<div class="col-4 offset-4">
				<div class="line" style="height: 3px; background-color: rgb(228, 228, 228)"></div>
			</div>
		</div>
	</div>

	<!-- ******* CUSTOMER TESTIMONIALS ***********************  -->

	<div class="container-fluid">
		<div class="row justify-content-center" style="margin-top: 60px; margin-bottom: 60px; padding: 20px">
			<div class="col-md-3">
				<p class="p-3">
					<i
						><b>"</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
						took a galley of type and scrambled it to make a type specimen book <b>"</b></i
					>
				</p>
				<div class="clearfix">
					<img src="../images/customer1.jpg" alt="" class="float-left lazy" />
					<p class="float-left name">Tomothy Henry</p>
				</div>
			</div>

			<div class="col-md-3">
				<p class="p-3">
					<i
						><b>"</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
						took a galley of type and scrambled it to make a type specimen book <b>"</b></i
					>
				</p>
				<div class="clearfix">
					<img src="../images/customer3.jpg" alt="" class="float-left lazy" />
					<p class="float-left name">Doris Richardson</p>
				</div>
			</div>

			<div class="col-md-3">
				<p class="p-3">
					<i
						><b>"</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
						took a galley of type and scrambled it to make a type specimen book <b>"</b></i
					>
				</p>
				<div class="clearfix">
					<img src="../images/customer2.jpg" alt="" class="float-left lazy" />
					<p class="float-left name">James Olson</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" style="margin-top: 80px">
	<div class="row">
		<div class="col-6 offset-3 text-center quote1">
			<h2>MIRACLE OF ART</h2>
			<p class="quote-text">Art enables us to find ourselves and lose ourselves at the same time</p>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-top: 10px">
	<div class="row">
		<div class="col-4 offset-4">
			<div class="line" style="height: 3px; background-color: rgb(228, 228, 228)"></div>
		</div>
	</div>
</div>

<script>
	const btn = document.querySelector('.see-more');
	btn.addEventListener(
		'click',
		e => {
			e.preventDefault();

			window.scroll(0, 2030);
		},
		false
	);
</script>
